@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	font-family: 'Arial', sans-serif;
	overflow-x: hidden;
}

.en-tete {
	border: 1px #dfe1e4 solid;
	width: 100%;
	height: 120px;
	position: relative;
}

.en-tete > img:first-child {
	width: 20px;
	height: 20px;
	position: absolute;
	left: 50%;
	top: 25%;
	z-index: 100;
}

.en-tete > img:nth-child(2) {
	width: 20px;
	height: 20px;
	position: absolute;
	left: 47%;
	top: 25%;
	z-index: 100;
}

input:hover {
	box-shadow: 0px 0px 10px lightgrey;
}

#en-tete {
	width: 42%;
	height: 45px;
	border-radius: 30px;
	border: 1px #dfe1e4 solid;
	position: absolute;
	top: 15%;
	left: 10%;
	font-size: 15px;
	padding-left: 10px;
}

ul {
/*	border: 1px red solid;
*/	position: relative;
	top: 62%;
	left: 10%;
	width: 80%;
	height: 30px;
	font-size: 13px;
}

li {
	color: #777777;
	text-align: center;
	display: inline-block;
	height: 25px;
	padding: 0px 5px 0px 5px;
	width: 5%;
}

#first-li {
	border-bottom: 3px #1874e8 solid;
	color: #1874e8;
	font-weight: bold;
}

#logo {
	width: 6%;
	position: absolute;
	left: 2%;
	top: 20%;
}
.conteneur {
	/*border: 1px blue solid;*/
	width: 100%;
	height: 600PX;
	position: relative;
}

.presentation, .formation, .experience {
	position: absolute;
}

/* PRESENTATION */
.presentation {
	left: 57%;
	top:7%;
	height: 530px;
	width: 32%;
	border-radius: 10px;
	border: 1px lightgrey solid;
}


#presentation-header {
	border-bottom: 1px #dfe1e4 solid;
	height: 160px;
	font-family: 'Arial', sans-serif;
	padding-left: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#presentation-header > img {
	width: 140px;
	border-radius: 10px;
	height: 150px;
}

#presentation-container {
padding:15px;
}

#presentation-container > p {
	font-size: 13px;
}

#presentation-container > p > span {
	color: #1a0cab;	
}

#contact {
	line-height: 30px;
	font-size: 13px;
}

#contact > p > span {
	font-weight: bold;
}

#recherche {
	display: flex;
	padding-top:10px;

}

#recherche > a {
	height: 60px;
	width: 60px;
	margin-right: 20px;
}

/* FORMATION */
.formation {
	top: 5%; 
	left: 10%;
	height: 300px;
	width: 40%;
	/*border: 1px orange solid;*/
}

.formation > p:nth-child(2){
	font-size: 13px;
	color: #006720;
	line-height: 20px;
}

.formation > p:nth-child(3){
	font-size: 14px;
	color: #545454;
}

.formation > h3 {
	font-weight: normal;
	color: #1a0cab;
}

.grid {
	display: flex;
	flex:1;
	width: 95%;
	/*margin-top: 4%;*/
	margin-left: 5%;
	height: 150px;
}

.row {
	/*border: 1px blue solid;*/
	flex-direction: row;
	flex:1;
}

.col{
	/*border: 1px pink solid;*/
	padding-left: 10px;
	padding-top: 15px;
	flex-direction: column;
	flex:1;
	height: 60px;
}

.col > p {
	font-size: 13px;
}

.col > h5 {
	font-weight: normal;
	color:#1a0cab;
	font-size: 15px;
}

/* EXPERIENCE */
.experience {
	top: 60%;
	left: 10%;
	height: 300px;
	width: 41.5%;
	/*border: 1px orange solid;*/
}

.experience > h4{
color: #212121;
text-decoration: none;
font-size: 14px;
display: block;
}

.experience > h5 {
	font-size: 18px;
	font-weight: normal;
	color: #212121;
}
.grid_xp {
	border: 1px #dfe1e4  solid;
	border-radius: 10px;
	height: 300px;
}

.row_xp {
	height: 100px;
	/*border: 1px red solid;*/
}

.row_xp > img {
	/*border: 1px red solid;*/
	width: 90px;
	height: 90px;
}

.texte {
	/*border: 1px yellow solid;*/
/*	position: absolute;*/
/*	left: 20%;
	top: 7%;*/
	margin-left: 25%;
	width: 80%;
	line-height: 50px;
}

.texte > h4 {
	color: #1a0cab;
	font-size: 18px;
	font-weight: normal;
}

.texte > p {
	color: #006720;
	font-size: 15px;
}

.texte > p > span {
	color: #777777;
	font-size: 12px;
}

.row_xp:nth-child(even){
	border-top :1px #dfe1e4 solid;
	border-bottom: 1px #dfe1e4 solid;
}
#simplon {
	position: absolute;
	/*border: 1px red solid;*/
	top:15%;
	left: 2%;
}

#sanmarina {
	position: absolute;
	/*border: 1px red solid;*/
	top:48%;
	left: 2%;
}

#mcdo {
	position: absolute;
	/*border: 1px red solid;*/
	top:82%;
	left: 2%;
}

#smarina {
	position: absolute;
	/*border: 1px red solid;*/
	top:150%;
	left: 2%;
}

#c-a {
	position: absolute;
	/*border: 1px red solid;*/
	top:115%;
	left: 2%;
	height: 90px;
	width: 100px;
}

#beryl {
	position: absolute;
	/*border: 1px red solid;*/
	top:185%;
	left: 2%;
	height: 80px;
	width: 100px;
}
.cacher {
	display: none;
}

#more {
	text-decoration: none;
}

#more:hover {
	text-decoration: underline;
}

.competence {
/*border: 1px red solid; */
margin-top: 5%;
display: flex;
color: #1a0cab; 
font-size: 14px;
line-height: 30px;
}

.competence > h1{
font-family: "Arial", sans-serif;
font-size: 15px;
text-decoration: none;
}

.competence-left{
/*border: 1px red solid;*/
flex:1;
}

span {
	font-weight: bold;
}
.competence-right{
	/*border: 1px blue solid;*/
	flex:1;
}

#footer {
	width: 100%;
	color: #cfced0;
	border: 1px #e4e4e4 solid;
	height: 50px;
	margin-top: 420px;
	background-color: #f2f2f2;
	text-align: center;
	padding-top: 2%;
	font-family: "Roboto Mono", monospace;

}

.more {
	margin-top: 5%;
	text-align: center;
	font-size: 30px;
	color: #fbbc05;
	width: 100%;;
	height: 100px;
	font-family: 'Poppins', sans-serif;
}

.more > p > span:first-child {
	color: #4285f4;
}

.more > p > span:nth-child(2){
	color: #ea4334;
}

.more > p > span:nth-child(3){
	color: #4285f4;
}

.more > p > span:nth-child(4){
	color: #34a853;
}

.more > p:last-child {
	color: #4285f4;
	font-size: 15px;
	letter-spacing: 10px;
}
@media only screen and (max-width: 414px) 
and (max-height: 896px)/* and (-webkit-device-pixel-ratio: 2)*/ { 

body {
	overflow: scroll;
 /*BARRE DE NAVIGUATION */
}
.en-tete {
	width: 133%;
	}

#en-tete {
	height: 30px;
	width: 80%;
	top: 45%;	
}

#logo {
	width: 15%;
	left: 45%;
	top: 10%;
}

 /*PRESENTATION */

.presentation {
left: 2%;
top: 2%;
width: 130%;

}

/* FORMATION */
.formation {
	width: 125%;
	left: 2%;
	top: 95%;
	border-radius: 10px;
	height: 360px;
	border: 1px lightgrey solid;
	padding: 10px;
}

.experience {
	width: 126%;
	left: 2%;
	top: 165%;
	border-radius: 10px;
	height: 340px;
}

.col {
	margin-top: 10px;
}

#simplon{
	width: 80px;
	height:80px;
}

#mcdo {
	top: 77%;
	left: 5%;
	height: 60px;
	width: 60px;
}

#c-a {
	top: 108%;
	left: 5%;
	height: 60px;
	width: 70px;
}

#smarina {
	left: 2%;
	top: 130%;
}

#beryl {
	top: 166%;
	left: 5%;
	height: 60px;
	width: 70px;
}

}


